---
import { Image } from "astro:assets";
import AboutImage from "../../images/aboutImage.jpg";
---

<section
  class="bg-linear-to-b from-transparent via-blue-200/50 to-transparent pt-30 pb-15 px-4"
>
  <div class="max-w-6xl mx-auto">
    <div
      class="flex flex-col gap-5 md:flex-row items-center md:justify-between"
    >
      <div class="w-full lg:w-1/2 flex flex-col gap-5">
        <div class="inline-block">
          <span
            class="text-foreground-muted font-bold tracking-widest text-sm uppercase flex items-center gap-2"
          >
            SOBRE NOSOTROS
          </span>
        </div>

        <h2
          class="text-2xl md:text-3xl lg:text-4xl font-bold mt-2 leading-tight max-w-xl mb-7"
        >
          Comprometidos <span class="text-accent">con tu salud dental</span>
        </h2>

        <div
          class="max-w-xl bg-accent/90 rounded-2xl p-6 border border-accent/30 mx-auto"
        >
          <p class="text-white text-sm leading-relaxed md:text-md lg:text-lg">
            Somos un consultorio dental enfocado en brindar atención
            profesional, ética y personalizada. Nuestro objetivo es que cada
            paciente se sienta escuchado, informado y seguro durante su
            tratamiento. Trabajamos con tecnología actualizada y protocolos de
            higiene estrictos para garantizar tu bienestar.
          </p>
        </div>

        <div class="w-auto p-3 md:p-6 rounded-2xl shadow-xl bg-white">
          <div class="flex items-center gap-4">
            <div class="bg-blue-600 p-1 md:p-3 rounded-full text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </div>
            <div>
              <p class="text-sm text-gray-400 font-medium italic">
                Confían en nosotros Más de
              </p>
              <p class="text-md md:text-xl font-bold text-slate-900">
                10k+ Pacientes
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full max-w-100 max-h-150">
        <div
          class="rounded-[3rem] shadow-2xl transform lg:rotate-2 hover:rotate-0 transition-transform duration-500 w-full relative"
        >
          <Image
            src={AboutImage}
            alt="Imagen sobre nosotros"
            width={600}
            height={400}
            quality={80}
            loading="lazy"
            class="w-100 object-cover max-h-150 rounded-2xl mx-auto"
          />
        </div>
      </div>
    </div>
  </div>
</section>
