---
import Benefits from "../components/benefits/Benefits.astro";
import Header from "../components/header/Header.astro";
import Hero from "../components/Hero/Hero.astro";
import Services from "../components/services/Services.astro";
import Layout from "../layouts/Layout.astro";
import Specialists from "../components/specialists/Specialists.astro";
import Testimonials from "../components/testimonials/Testimonials.astro";
import Contact from "../components/contact/Contact.astro";
import "../styles/index.css";
import About from "../components/about/About.astro";
import Footer from "../components/footer/Footer.astro";
---

<Layout>
  <!-- header -->
  <Header />
  <!-- main content -->
  <main>
    <!-- hero content -->
    <Hero />
    <Services />
    <About />
    <Specialists />
    <Testimonials />
    <Benefits />
    <Contact />
  </main>
  <!-- footer -->
   <Footer />
</Layout>
