---
import SwiperCarousel from "../common/SwiperCarousel.astro";

import Sp1 from "../../images/specialists/sp1.jpg";
import Sp2 from "../../images/specialists/sp2.jpg";
import Sp3 from "../../images/specialists/sp3.jpg";
import { Image } from "astro:assets";

interface Doctor {
  name: string;
  specialty: string;
  image: ImageMetadata;
  socials: string[];
  active?: boolean;
}

const team: Doctor[] = [
  {
    name: "Dr. Olivia Hayes",
    specialty: "Dentista Cosmético",
    image: Sp1,
    socials: ["facebook", "twitter", "instagram", "linkedin"],
  },
  {
    name: "Dr. Emily Carter",
    specialty: "Dentista General",
    image: Sp2,
    socials: ["facebook", "twitter", "instagram", "linkedin"],
  },
  {
    name: "Dr. Lorena Smith",
    specialty: "Ortodontista",
    image: Sp3,
    socials: ["facebook", "twitter", "instagram", "linkedin"],
  },
];
---

<section
  id="specialists"
  class="bg-linear-to-b from-transparent via-emerald-50/60 to-transparent pt-20 md:pt-30 px-4"
  aria-labelledby="team-title"
>
  <div class="max-w-6xl mx-auto flex flex-col gap-5">
    <!-- Eyebrow -->
    <div class="inline-block mb-2">
      <span
        class="font-heading text-foreground-muted font-bold tracking-widest text-sm uppercase flex items-center gap-2"
      >
        ESPECIALISTAS
      </span>
    </div>

    <!-- section title -->
    <h2
      id="team-title"
      class="font-heading text-2xl md:text-3xl lg:text-4xl font-bold text-slate-900 leading-tight mb-8"
    >
      Conoce a nuestro
      <span class="text-accent"> equipo profesional</span>
    </h2>

    <SwiperCarousel>
      {
        team.map((doctor) => (
          <div class="swiper-slide p-1">
            <article
              class="bg-white rounded-[2.5rem] overflow-hidden transition-all duration-300
            group ring-2 ring-blue-600 shadow-2xl shadow-blue-100 hover:shadow-xl"
            >
              <div class="relative aspect-4/5 overflow-hidden">
                <Image
                  src={doctor.image}
                  alt={doctor.name}
                  width={600}
                  height={750}
                  class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
                  loading="lazy"
                />
              </div>

              <div class="p-8">
                <h3 class="text-xl font-bold text-slate-900 font-heading">
                  {doctor.name}
                </h3>
                <p class="text-foreground text-sm mt-1 font-medium font-body">
                  {doctor.specialty}
                </p>
              </div>
            </article>
          </div>
        ))
      }
    </SwiperCarousel>
  </div>
</section>
