---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import Child from "../../../public/icons/Benefits/Child.astro";
import Clock from "../../../public/icons/Benefits/Clock.astro";
import Diamond from "../../../public/icons/Benefits/Diamond.astro";
import Implant from "../../../public/icons/Benefits/Implant.astro";
import Scan from "../../../public/icons/Benefits/Scan.astro";
import Smile from "../../../public/icons/Benefits/Smile.astro";

interface Service {
  title: string;
  description: string;
  variant: "accent" | "white";
  icon: AstroComponentFactory;
}

const services: Service[] = [
  {
    title: "Diagnóstico 3D",
    description:
      "Tecnología de escaneo digital para diagnósticos precisos sin molestias.",
    variant: "white",
    icon: Scan,
  },
  {
    title: "Ortodoncia Invisible",
    description:
      "Alinea tu sonrisa discretamente con alineadores transparentes de última generación.",
    variant: "accent",
    icon: Smile,
  },
  {
    title: "Implantes Dentales",
    description:
      "Recupera la funcionalidad y estética con materiales de titanio biocompatible.",
    variant: "white",
    icon: Implant,
  },
  {
    title: "Odontopediatría",
    description:
      "Cuidado especializado para los más pequeños en un ambiente divertido.",
    variant: "accent",
    icon: Child,
  },
  {
    title: "Estética Dental",
    description:
      "Blanqueamientos y carillas para diseñar la sonrisa que siempre soñaste.",
    variant: "white",
    icon: Diamond,
  },
  {
    title: "Urgencias 24h",
    description: "Atención prioritaria para dolor agudo o accidentes dentales.",
    variant: "accent",
    icon: Clock,
  },
];
---

<section
  id="benefits"
  class="py-20 relative overflow-hidden bg-linear-to-b from-transparent via-blue-200/50 to-transparent"
  aria-labelledby="benefits-title"
>
  <div class="max-w-6xl mx-auto relative z-10 px-4">
    <div class="max-w-3xl mb-16 flex flex-col gap-5">
      <span
        class="font-heading text-foreground-muted font-bold tracking-widest text-sm uppercase mb-2 block"
      >
        BENEFICIOS
      </span>
      <h2
        id="benefits-title"
        class="font-heading text-2xl md:text-3xl lg:text-4xl font-bold mt-2 leading-tight max-w-xl mb-7"
      >
        Todo lo que tu sonrisa <br />
        <span
          class="text-transparent bg-clip-text bg-linear-to-r from-accent to-secondary"
          >necesita en un solo lugar</span
        >
      </h2>
      <p class="font-body text-foreground-muted text-lg">
        Combinamos tecnología avanzada con un trato humano para ofrecerte una
        experiencia dental sin estrés.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        services.map((item) => (
          <div
            class:list={[
              "border border-gray-300 group p-8 rounded-4xl transition-all duration-300 hover:-translate-y-2 flex flex-col items-center text-center gap-5",
              item.variant === "accent"
                ? "bg-accent text-white shadow-xl shadow-accent/25"
                : "bg-background-card text-foreground shadow-lg shadow-gray-100 border border-gray-100 hover:border-accent/20",
            ]}
          >
            <div
              class:list={[
                "w-16 h-16 rounded-2xl flex items-center justify-center mb-2 transition-transform duration-300 group-hover:scale-110",
                item.variant === "accent"
                  ? "bg-white/20 text-white"
                  : "bg-accent/10 text-accent",
              ]}
            >
              <item.icon />
            </div>

            <h3 class="font-heading font-bold text-xl tracking-tight">
              {item.title}
            </h3>

            <p
              class:list={[
                "font-body text-sm md:text-md lg:text-lg leading-relaxed",
                item.variant === "accent"
                  ? "text-blue-100"
                  : "text-foreground-muted",
              ]}
            >
              {item.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
